a:focus {
  outline: dotted thin
}

a:active,a:hover {
  color: #c00;
  outline: 0
}

code,pre {
  font-family: monospace,monospace;
  font-size: 1em
}

/* Smartphones (portrait) */
@media only screen and (max-width: 480px) {
  body { font-size: 12px;}
  header p { padding-left: 4.5em;}
}
